Mapear fichero CSV

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

ruta = 'src/athlete_events.csv'

df = pd.read_csv(ruta)
print("Todas las columnas con 5 ejemplos:\n", df.head())

#################################################################
 ########################   LIMPIEZA   #########################
#################################################################

# Llevar Columnes inecesaries
print("\nEliminamos las columnas innecesarias:")
print("Las columnas ['ID'] y ['Name'] no nos aportan nada.")
print("La información de la columna ['Games'] la podemos sacar de ['Year'] y ['Season'].")
print("La información de la columna ['Event'] la reducimos a la de la columna ['Sport'] para tener menos categorías.")
df.drop(columns=["ID", "Name", "Games", "Event"], inplace=True)

# Llevar el NaN (null)
# El dataset originalment te aproximadament 270000 files, i les columnes de edad, altura i pes
# presenten valors nuls(24%) En este projecte que es académic, hem optat per
# eliminar les files amb nuls per simplicitat
print("\nEliminamos valores NULOS:")
print("Número de filas sin eliminar nulos:", len(df))
df = df.dropna(subset=['Height'])
print("Número de filas tras eliminar nulos en 'Height':", len(df))
df = df.dropna(subset=['Weight'])
print("Número de filas tras eliminar nulos en 'Weigth':", len(df))
df = df.dropna(subset=['Age'])
print("Número de filas tras eliminar nulos en 'Age':", len(df))



# Vore les categories que hi han en alguna que altra columna (per a binaritzar les categories)
# Columnes -> Sex ; Medal ; Season ; Sport
print("\nValores únicos en las siguientes columnas:")
print("Columna ['Sex'] => ", df['Sex'].unique())
print("Columna ['Medal'] => ", df['Medal'].unique())
print("Columna ['Season'] => ", df['Season'].unique())
print("Columna ['Sport'] => ", df['Sport'].unique()) # 56 Categories (Cuidao!!! Preguntar a Jose Ramon)

# Codificacio de variables categoriques(Sex, Season, Medal, Sport)
df = pd.get_dummies(df, columns=['Sex', 'Medal', 'Season'], drop_first=True)

# Binarizacion(age, weight, height)
# Transformem les columnes catagoriques a 0 i 1 per a que el model
# comprenga les dades
df['Age_bin'] = (df['Age'] > df['Age'].median())
df['Weight_bin'] = (df['Weight'] > df['Weight'].median())
df['Height_bin'] = (df['Height'] > df['Height'].median())

print("\nEjemplo de binarización en la columna ['Age'] a partir de si están por encima de la media:")
print(df[['Age', 'Age_bin']].head())

# Borrar columnas temporales
df.drop(columns=["Age_bin", "Weight_bin", "Height_bin"], inplace=True)

# Escalado
# Transforma una columna amb valors numerics a una escala controlada
# MinMaxScaler() -> escala entre 0 i 1, per a que el model comprenga millor
scaler = MinMaxScaler()
df[['Age', 'Weight', 'Height']] = scaler.fit_transform(df[['Age', 'Weight', 'Height']])

print("\nEjemplo de escalado en la columnas ['Age'], ['Weight'] y ['Height'] de 0 a 1:")
print(df[['Age', 'Weight', 'Height']].head())

################################################################
 ##########################   EDA   ###########################
################################################################
# Objetivos:
# Analitzar las característiques principals del dataset "athlete_events"
# després de la neteja i transformació de les dades. L'EDA ens permet entendre:
#  - La distribució de les variables numèriques
#  - La relació entre variables (correlacions)
#  - La distribució de categories com Sex, Season o Medal
#  - Si hi ha patrons interessants per al modelage posterior

# Informació general del dataset
print("\n=== Información general ===")
print(df.info())

# Vore les primeres lineias
print("\n=== Primeras filas del dataset ===")
print(df.head())

# Comprobació final de valors nlos
print("\n=== Valores nulos por columna ===")
print(df.isnull().sum())

print("\n=== Resumen estadístico de las variables numéricas ===")
print(df[['Age', 'Height', 'Weight']].describe())

print(df.columns)

Todas las columnas con 5 ejemplos:
    ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

Eliminamos las columnas innecesarias:
Las columnas ['ID'] y ['Name'] no nos aportan nada.
La información de la columna ['Games'] la podemos sacar de ['Year'] y ['Season'].
La información de la columna ['Event'] la reducimos a la de la columna ['Sport'] para tener menos categorías.

Eliminamos valores NULOS:
Número de filas sin eliminar nulos: 271116
Número de filas tras eliminar nulos en 'Height': 210945
Número de filas tras eliminar nulos en 'Weigth': 206853
Número de filas tras eliminar nulos en 'Age': 206165

Valores únicos en las siguientes columnas:
Columna ['Sex'] =>  ['M' 'F']
Columna ['Medal'] =>  [nan 'Bronze' 'Gold' 'Silver']
Columna ['Season'] =>  ['Summer' 'Winter']
Columna ['Sport'] =>  ['Basketball' 'Judo' 'Speed Skating' 'Cross Country Skiing' 'Ice Hockey'
 'Badminton' 'Sailing' 'Biathlon' 'Gymnastics' 'Athletics' 'Alpine Skiing'
 'Weightlifting' 'Wrestling' 'Luge' 'Rowing' 'Bobsleigh' 'Swimming'
 'Football' 'Equestrianism' 'Shooting' 'Taekwondo' 'Boxing' 'Fencing'
 'Diving' 'Canoeing' 'Handball' 'Water Polo' 'Tennis' 'Cycling' 'Hockey'
 'Figure Skating' 'Softball' 'Archery' 'Volleyball'
 'Synchronized Swimming' 'Modern Pentathlon' 'Table Tennis'
 'Nordic Combined' 'Baseball' 'Rhythmic Gymnastics' 'Freestyle Skiing'
 'Rugby Sevens' 'Trampolining' 'Beach Volleyball' 'Triathlon'
 'Ski Jumping' 'Curling' 'Golf' 'Snowboarding' 'Short Track Speed Skating'
 'Skeleton' 'Rugby' 'Tug-Of-War' 'Art Competitions' 'Lacrosse'
 'Motorboating']

Ejemplo de binarización en la columna ['Age'] a partir de si están por encima de la media:
    Age  Age_bin
0  24.0    False
1  23.0    False
4  21.0    False
5  21.0    False
6  25.0     True

Ejemplo de escalado en la columnas ['Age'], ['Weight'] y ['Height'] de 0 a 1:
        Age    Weight    Height
0  0.216667  0.291005  0.535354
1  0.200000  0.185185  0.434343
4  0.166667  0.301587  0.585859
5  0.166667  0.301587  0.585859
6  0.233333  0.301587  0.585859

=== Información general ===
<class 'pandas.core.frame.DataFrame'>
Index: 206165 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Age            206165 non-null  float64
 1   Height         206165 non-null  float64
 2   Weight         206165 non-null  float64
 3   Team           206165 non-null  object
 4   NOC            206165 non-null  object
 5   Year           206165 non-null  int64
 6   City           206165 non-null  object
 7   Sport          206165 non-null  object
 8   Sex_M          206165 non-null  bool
 9   Medal_Gold     206165 non-null  bool
 10  Medal_Silver   206165 non-null  bool
 11  Season_Winter  206165 non-null  bool
dtypes: bool(4), float64(3), int64(1), object(4)
memory usage: 14.9+ MB
None

=== Primeras filas del dataset ===
        Age    Height    Weight         Team  NOC  Year         City  \
0  0.216667  0.535354  0.291005        China  CHN  1992    Barcelona
1  0.200000  0.434343  0.185185        China  CHN  2012       London
4  0.166667  0.585859  0.301587  Netherlands  NED  1988      Calgary
5  0.166667  0.585859  0.301587  Netherlands  NED  1988      Calgary
6  0.233333  0.585859  0.301587  Netherlands  NED  1992  Albertville

           Sport  Sex_M  Medal_Gold  Medal_Silver  Season_Winter
0     Basketball   True       False         False          False
1           Judo   True       False         False          False
4  Speed Skating  False       False         False           True
5  Speed Skating  False       False         False           True
6  Speed Skating  False       False         False           True

=== Valores nulos por columna ===
Age              0
Height           0
Weight           0
Team             0
NOC              0
Year             0
City             0
Sport            0
Sex_M            0
Medal_Gold       0
Medal_Silver     0
Season_Winter    0
dtype: int64

=== Resumen estadístico de las variables numéricas ===
                 Age         Height         Weight
count  206165.000000  206165.000000  206165.000000
mean        0.234258       0.488606       0.241737
std         0.091385       0.106526       0.075875
min         0.000000       0.000000       0.000000
25%         0.166667       0.414141       0.185185
50%         0.216667       0.484848       0.238095
75%         0.283333       0.565657       0.285714
max         1.000000       1.000000       1.000000
Index(['Age', 'Height', 'Weight', 'Team', 'NOC', 'Year', 'City', 'Sport',
       'Sex_M', 'Medal_Gold', 'Medal_Silver', 'Season_Winter'],
      dtype='object')